<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button expand="full" routerLink="/alert">Alerta</ion-button>
  <ion-button expand="full" routerLink="/imput">Input</ion-button>
  <ion-button expand="full" routerLink="/carta">Carta</ion-button>
  <ion-button expand="full" routerLink="/item">Item</ion-button>
  <ion-button expand="full" routerLink="/selection">Seleccion</ion-button> -->
  <ion-list>
    <ion-item>
      <ion-label routerLink="/alert" >Alerta</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/imput" >Input</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/carta">Carta</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/item">Item</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/selection">Selection</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
